body {
    font-family: Arial;
    padding: 1rem;
    background: #f4f4f4;
}

h1 {
    text-align: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.card {
    background: white;
    padding: 1rem;
    border-radius: 8px;
    width: 200px;
    text-decoration: none;
    color: black;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    transition: 0.2s;
}

.card:hover {
    transform: scale(1.03);
}
 
